*,
*::after,
*::before {
    margin: 0;
    padding:0;
    box-sizing:inherit;
}

// html{
//     //this defines what 1 rem is
//     font-size: 62.5%;
// }

body{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    color:$color-white
}

.h2-sections{
	text-align: center;
	margin-top: 30px;
	font-size: 30px;
	font-weight: 600;
	padding-bottom: 15px;
	background:linear-gradient(135deg, rgba(16,0,64,0.8) 30%, rgba(151,27,30,0.7));
	-webkit-background-clip: text;
	color:#fff;
	-webkit-text-fill-color: transparent;
}