.container-filters{
    position: fixed;
    top: 70px;
    left: 0;
    width: 35%;
    height: 100%;
    justify-content: center;
    
  }
  .text-filter {
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 14px;
    padding-left: 10px;
  }