

.h3-sections{
    font-size: 22px;
    font-weight: 500;
    color: #474747;
}

.items{
    padding: 20px;
    flex: 1 1 200px;
    max-width: 500px;
    text-align: center;
}



.back{
    background-color: red;
}

.pd--20{
    padding: 20px;
}